<h1>Grapes</h1>
<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @grapes.each do |g| %>
      <tr>
        <td><%= g.id %></td>
        <td><%= g.name %></td>
        <td>
          <%= link_to 'Show', g %>
          <%= link_to 'Edit', edit_grape_path(g) %>
          <%= link_to 'Delete', g, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add grape', new_grape_path %>
