<h1 class="display-4 my-4">Grapes</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @grapes.each do |g| %>
      <tr>
        <th scope="row"><%= g.id %></th>
        <td><%= g.name %></td>
        <td class="button-cell">
          <%= button_to 'Show', g, method: :get, class: 'btn btn-primary mr-1' %>
          <%= button_to 'Edit', edit_grape_path(g), method: :get, class: 'btn btn-secondary mr-1' %>
          <%= button_to 'Delete', g, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary mr-1' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add grape', new_grape_path %>
