<h1>Grapes</h1>
<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @grapes.each do |g| %>
      <tr>
        <td><%= g.id %></td>
        <td><%= g.name %></td>
        <td class="button-cell">
          <%= button_to 'Show', g, method: :get, class: 'btn btn-primary mr-1' %>
          <%= button_to 'Edit', edit_grape_path(g), method: :get, class: 'btn btn-secondary mr-1' %>
          <%= button_to 'Delete', g, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary mr-1' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add grape', new_grape_path %>
