<%= form_with(model: wine, local: true) do |f| %>
    <% if wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>
      <ul>
      <% wine.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <h2>Grapes</h2>
  <div id="grape_wines" class="form-group">
    <%= f.fields_for :grape_wines do |grape_wine_form| %>
      <%= render 'grape_wine_fields', f: grape_wine_form %>
    <% end %>
    <div class="links form-inline">
      <%= link_to_add_association 'add grape', f, :grape_wines %>
    </div>
  </div>

  <h2>Evaluation</h2>
  <%= f.fields_for :evaluations do |eval_form| %>
    <%= eval_form.label :score %>
    <%= eval_form.text_field :score %>

    <h4>Sommeliers</h4>
    <div id="evaluation_sommeliers" class="form-group">
      <%= eval_form.fields_for :evaluation_sommeliers do |sommelier_form| %>
        <%= render 'evaluation_sommelier_fields', f: sommelier_form %>
      <% end %>
      <div class="links form-inline">
        <%= link_to_add_association 'add sommelier', eval_form, :evaluation_sommeliers %>
      </div>
    </div>
  <% end %>

  <div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
