<h1>Wines</h1>
<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Grapes</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @wines.each do |w| %>
      <tr>
        <td><%= w.id %></td>
        <td><%= w.name %></td>
        <td>
          <ul>
            <% w.grape_wines.ordered.each do |gw| %>
              <li><%= gw %></li>
            <% end %>
          </ul>
        </td>
        <td class="button-cell">
          <%= button_to 'Show', w, method: :get, class: 'btn btn-primary mr-1' %>
          <%= button_to 'Edit', edit_wine_path(w), method: :get, class: 'btn btn-secondary mr-1' %>
          <%= button_to 'Delete', w, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary mr-1' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add wine', new_wine_path %>
