<h1 class="display-4 my-4">Wine</h1>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<strong>Grapes</strong>
<ul>
<% @wine.grape_wines.ordered.each do |gw| %>
  <li><%= gw %></li>
<% end %>
</ul>

<h2>Evaluations</h2>
<% @wine.evaluations.each do |e| %>
  <p>
    <strong>Score:</strong>
    <%= e.score %>
  </p>
  <strong>Sommeliers</strong>
  <ul>
  <% e.sommeliers.ordered.each do |s| %>
    <li><%= s %></li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_wine_path(@wine) %> <br />
<%= link_to '<< Wines', wines_path %>
